node_modules
.env
.DS_Store
.gitignore
.vscode
.notes

#Hardhat files
cache
artifacts
typechain
coverage
coverage.json
contracts-exposed
2Dos.ignore
* Decay rates.xlsx
test/gasTest.test.js
test/testSR.test.js
test/stakingRewards.test.js
test/stakingRewardsPowerFormula.test.js
contracts/utils/PowerContract.sol
contracts/StakingRewardsV3.sol
contracts/libraries/DecayRateLib.sol
.openzeppelin/*

package-lock*
deployments/localhost